    
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);

div.tooltip {
    position: absolute;
    text-align: center;
    width: 50px;
    height: 33px;
    pointer-events: none;
  }

body {font-family: "Open Sans", Consolas, monaco, monospace; 
      line-height: 160%; 
      font-size: 16px;  
      margin: 0;  
      text-align: center;
      z-index:1;}
path.link {
fill: none;
stroke-width: 2px;
}
.node:not(:hover) .nodetext {
display: none;
}
h1 { font-size: 42px; margin: 40px 10px 30px 10px; font-weight: bold; line-height: 45px;}
h2 { font-size: 28px; margin: 10px 10px 30px 10px; font-weight: bold;}
h3 { font-size: 22px; margin: 10px 10px 30px 10px; font-weight: normal;}
header {padding: 20px; position: absolute; top: 0; left: 0;}
p { font-size: 20px;}
article { text-align: left; width: 50%; margin: 0 auto;}
a:link.oliverLink { color: #FF1493; text-decoration: none;}
a:visited.oliverLink { color: #FF1493; }
a:hover.oliverLink { color: #FFC0CB; text-decoration: underline;}
a:link.rosieLink { color: #141DFF; text-decoration: none;}
a:visited.rosieLink { color: #141DFF; }
a:hover.rosieLink { color: #89cff0; text-decoration: underline;}
a:active { color: #EE3124; }
#invalid {
  width:50%;
  visibility: hidden; 
  color: #d00;
  padding: auto;
  margin: auto;
  text-align: middle;
}
select {margin: 10px 10px 30px 10px}
svg {margin: 5px 5px 5px 5px}
/* checkbox grid format */
.checkbox-container {
  white-space: nowrap;
  width: 50%;
  height:50px;
  margin: 0 auto;
  padding-left:5%;
}

label {
  display: block;
  float: left;
  text-align: left;
  width: 25%;
  font-size: 14px;
}

/* Wrap checkboxes on page width decrease */

@media screen and (max-width: 800px) {

.checkbox-container {
  padding-left:0;
}

label {
  display: block;
  float: left;
  text-align: left;
  width: 45%;
  padding-right:5%;
  font-size: 14px;
}


}

.gallery {
  display: grid;
  grid-template-columns: repeat(17, 2.5vw);
  grid-template-rows: repeat(17, 2.5vw);
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gridParent {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: repeat(1, 2.5vw);
}