@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);
body {font-family: "Times New Roman", Consolas, monaco, monospace; line-height: 160%; font-size: 16px;  margin: 0;  text-align: center }
path.link {
fill: none;
stroke-width: 2px;
}
.node:not(:hover) .nodetext {
display: none;
}
h1 { font-size: 42px; margin: 40px 10px 30px 10px; font-weight: bold}
h2 { font-size: 28px; margin: 10px 10px 30px 10px; font-weight: bold;}
h3 { font-size: 22px; margin: 10px 10px 30px 10px; font-weight: normal;}
header {padding: 20px; position: absolute; top: 0; left: 0;}
p { font-size: 20px;}
article { text-align: left; width: 50%; margin: 0 auto;}
a:link { color: #EE3124; text-decoration: none;}
a:visited { color: #EE3124; }
a:hover { color: #A4CD39; text-decoration: underline;}
a:active { color: #EE3124; }
select {margin: 10px 10px 30px 10px}
